.header{
    background-color: rgb(253, 249, 191);
}
h1{
    font-size: 80px;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 0.5rem;
    border: none;
    font-size: 20px;

}
nav{
    background-color: black;
    width: 100%;
}
ul li a{
    text-decoration: none;
    color: gray;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style-type: none;
    margin-right: 2rem;
    font-size: 20px;
}
ul li a:hover{
    color: white;
}
ul{
    align-items: center;
    margin-top: 1rem;
}
.dropdown{
    align-items: center;
    margin-top: 1.2rem;
    float: right;
    margin-right: 2rem;
}
.kapsayici1{
    float: left;
}
img{
    max-width: 100%;
}
.footer{
    background-color: black;
}
a{
    text-decoration: none;
}
@media screen and (max-width:900px) {

    img{
        display: block;
        margin: auto;
        max-width: 100%;
        justify-content: center;
    }
    .kapsayici1{
        width: 100%;
        margin: auto;
        display: block;
    }
    button{
        width: 100%;  
        display: block;
        margin: auto;
    }
    ul{
        width: 100%;
        margin: auto;
        display: block;
        justify-content: center;
        text-align: center;
    }
    .dropdown{
        width: 100%;
        margin: auto;
        display: block;
    }
    .berna{
        margin: auto;
        justify-content: center;
        text-align: center;
        display: block;
    }
    h1{
        font-size: 1.3rem;
        display: block;
        margin: auto;
    }
    .container{
        margin: auto;
        text-align: center;
        width: 100%;
     }
}
