body{
    overflow-x: hidden;
}
ul li {
    margin-left: 3rem;
    list-style: none;
}
ul li a {
    color: black;
    text-decoration: none;
}
ul li a:hover {
    color: black;
}
.menu{
    margin-left: -70px;  
}
.menu2{
    margin-top: 1rem;
    margin-left: auto; 
}
nav{
    box-shadow: rgba(46, 46, 46, 0.253) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Roboto', sans-serif;
}
button{
    width: 125px;
}
img{
    border-radius: 100%
}
@media screen and (max-width:1024px) {
    .navbar{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .str{
        width: 100%;
        display: block;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .logo{
        width: 100px;
        margin: auto;
    }
    nav{
        width: 100%;
        margin: auto;
        display: block;
        justify-content: center;
        text-align: center;
    }
    .menu{
        margin: auto;
        margin-right: 2rem;
    }
    .menu2{
        margin-right: 2rem;
    }
    .menu2 button{
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .menu2 ul li{
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    .kurumsal{
        width: 400px;
    }
}